<div>
  <app-chart [timeLineParameters]="timeLineParameters" [plots]="plots"></app-chart>
  <table style="width:100%">
    <tr>
      <th>i</th>
      <th>todayStockPrice</th>
      <th>forecast</th>
      <th>odds</th>
      <th>investAmount</th>
      <th>actualStockPrice</th>
      <th>profit</th>
      <th>bankroll</th>
    </tr>
    <tr *ngFor="let item of report">
      <td align="center">{{item.i}}</td>
      <td align="center">{{item.todayStockPrice}}</td>
      <td align="center">{{item.forecast}}</td>
      <td align="center">{{item.odds}}</td>
      <td align="center">{{item.investAmount}}</td>
      <td align="center">{{item.actualStockPrice}}</td>
      <td align="center">{{item.profit}}</td>
      <td align="center">{{item.bankroll}}</td>
    </tr>
  </table>
</div>
